<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Purchase Summary</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            background-color: #007bff;
            color: #ffffff;
            padding: 20px;
            border-radius: 10px 10px 0 0;
        }
        .product-card {
            background-color: #f9f9f9;
            margin-bottom: 20px;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .product-details {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .product-image {
            max-width: 100px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Thank You for Purchasing from Jay Garments</h1>
        </div>
        <div class="content">
            <% products.forEach(product => { %>
                <div class="product-card">
                    <div class="product-details">
                        <p><strong>Name:</strong> <%= product.title %></p>
                        <img class="product-image" src=<%= product.thumbnail %> alt="<%= product.title %>">
                        <p><strong>Quantity:</strong> <%= product.quantity %></p>
                        <p><strong>Size:</strong> <%= product.size %></p>
                        <p><strong>Color:</strong> <%= product.color %></p>
                        <!-- Add more product details here as needed -->
                    </div>
                </div>
            <% }); %>
            <div class="bill-details">
                <p><strong>Total Bill (After Shipping charges and Tax):</strong> <%= totalBill %> Rupees</p>
            </div>
        </div>
    </div>
</body>
</html>
